.img{
            width: 100px;
            border-radius: 10px;
            float: left;
            margin-right: 20px;
            box-shadow: 10px,15px;
   }
h1, h2 {
            color: rgb(24, 173, 184);
            margin-left: 400px;
            margin-bottom: 10px;
        }
.username {
            font-weight: blod;
        }
p{
            Color: gray;
           font-weight: 200px;
           margin-left: 400px; 
        }
input {
            background-color:rgb(243, 223, 223);
            Color: rgb(245, 46, 63) ;
            height:20px;
            margin-top: 10px;
            margin-left: 400px;
            padding: 30px;
        }
a{
            cursor: pointer;
            color:blue;
            border-radius: 2px;
            margin-left: 400px;
        }
